@media (max-width: 320px) {
	.wrapper {
		width: 320px;
		margin: 0;
		border: 0px solid #000;
	}
	.header {
		display: flex;
		justify-content: space-between;
		&__logo {
		}
		&__logo-img {
		}
		&__open-main-nav {
			display: block;
			position: absolute;
			top: 15px;
			padding-top: 20px;
			right: 15px;
			z-index: 1000;
			background: none;
			border: 0;
			cursor: pointer;
		}
		&__burger {
			position: relative;
			display: block;
			width: 28px;
			height: 4px;
			margin: 0 auto;
			background: #7b56f1;
			transform: skew(5deg);
			transition: all .275s;

			&::after {
				content: '';
				display: block;
				height: 100%;
				background: #7b56f1;
				transition: all .275s;
				transform: translateY(-12px) translateX(-2px) skew(-20deg);
			}

			&::before {
				content: '';
				display: block;
				height: 100%;
				background: #7b56f1;
				transition: all .275s;
				transform: translateY(-16px) skew(-10deg);
			}
		}
		&__burger-text {
			display: block;
			font-size: .675rem;
			letter-spacing: .05em;
			margin-top: .5em;
			text-transform: uppercase;
			font-weight: 500;
			text-align: center;
			color: #7b56f1;
		}
		&__nav {
			max-width: 320px;
			position: fixed;
    		top: 0;
    		right: 0;
    		left: 0;
    		bottom: 0;
    		text-align: center;
    		background: #FFF;
    		opacity: 0;
    		z-index: -1;
    		visibility: hidden;
    		transition: all .375s;

    		&::before {
    			content: '';
				position: absolute;
				top: 0px;
				bottom: 0;
				left: 0;
				right: 0;
				background: #7b56f1;
				opacity: 0.5;
				transform-origin: 0 0;
				transform: skew(-14deg) translateX(-120%);
				transition: all .275s .1s;
    		}

    		&.is-open {
    			opacity: 1;
   				z-index: 100;
    			visibility: visible;
    			min-height: 100vh;
    			&::before {
    				transform: skew(-14deg) translateX(0);
				}
    		}

    		& a {
    			opacity: 0;
    			transform: translateY(-20px);
    		}
    		&.is-open a {
    			opacity: 1;
    			transform: translateY(0);
    			font-size: 36px;
    		}
		}
		&__ul {
			display: inline-flex;
			flex-direction: column;
			height: 100%;
			align-items: flex-end;
			justify-content: center;
			transform: translateX(-18%) skew(-16deg);
		}
		&__li {
			display: block;
    		margin: 1rem 0;
    		text-align: right;
    		transform: skew(16deg);
		}
		&__link {
			z-index: 100;
			font-size: 24px;
		}
		&__li_fix {
		}
		&__button {
			display: none;
		}
	}
	.button {
		font-size: 40px;
	}
	.about {
		&__contact {
			margin: 0;
			padding: 10px;
			width: 300px;
		}
		&__h2 {
			font-size: 24px;
			line-height: 28px;
			margin: 0;
		}
		&__span-blue {
		}
		&__signature {
			font-size: 20px;
			line-height: 24px;
		}
		&__sing-up {
		}
		&__imgs {
			display: none;
		}
		&__img-1 {
		}
		&__img-2 {
		}
		&__img-3 {
		}
		&__companies {
			margin: 20px 0 0 0;
			padding: 0;
		}
		&__text {
			line-height: 28px;
    		font-size: 28px;
    		margin: 0 3px;
		}
		&__companies-loges {
			flex-direction: column;
			align-items: center;
			height: 100%;
		}
		&__li {
			margin: 0 0 15px 0;

			&:first-child {
				margin: 0 0 15px 0;
			}
			&:last-child {
				margin: 0;
			}
		}
		&__companie-img {
			margin: 0 auto 15px auto;
		}
	}
	.sing-up {
		flex-wrap: wrap;
		&__sing-up {
			line-height: 20px;
   			font-size: 24px;
   			height: 60px;
   			width: 100%;
   			margin: 0 0 5px 0;
		}
		&__button {
			font-size: 24px;
			width: 100%;
			height: 60px;
			margin: 0 0 5px;
		}
		&__text {
			line-height: 18px;
    		font-size: 16px;
		}
		&__info {
			line-height: 18px;
    		font-size: 16px;
		}
	}
	.button_white {
	}
	.heading {
		&__head {
			font-size: 24px;
    		line-height: 24px;
    		padding: 0;
    		border-radius: 0;
    		width: 100%;
    		align-items: center;
    		justify-content: center;
    		height: 60px;
		}
		&__short-info {
			font-size: 24px;
    		line-height: 28px;
		}
		&__span-orange {
		}
		&__text {
			font-size: 20px;
    		line-height: 24px;
    		padding: 0 0 0 5px;
		}
	}
	.features {
		padding: 0;
		&__imgs {
			display: none;
		}
		&__img-1 {
		}
		&__img-2 {
		}
		&__article {
			padding: 0;
		}
		&__full-info {
		}
		&__part-info {
			width: 100%;
		}
		&__part-info_1 {
		}
		&__h3 {
			font-size: 20px;
    		line-height: 24px;
		}
		&__local-info {
			font-size: 18px;
    		line-height: 21px;
		}
		&__part-info_2 {
		}
		&__part-info_fix {
		}
		&__part-info_3 {
		}
		&__part-info_4 {
		}
	}
	
	.stats {
		flex-wrap: wrap;
		padding: 0 0 10px 0;
		&__heading {
			margin: 0;
		}
		&__head {
    		font-size: 24px;
    		line-height: 24px;
    		padding: 0;
    		border-radius: 0;
    		width: 100%;
    		align-items: center;
    		justify-content: center;
    		height: 60px;
    		margin: 0 0 20px 0;
		}
		&__short-info {
			font-size: 24px;
    		line-height: 28px;
    		padding: 0 5px 20px 5px;
		}
		&__span-green {
		}
		&__info {
			padding: 0 0 0 5px;
		}
		&__text {
			font-size: 20px;
    		line-height: 24px;
    		width: 320px;
		}
		&__statistics {
			flex-wrap: wrap;
		}
		&__column {
			margin: 0;
			width: 100%;
		}
		&__percent {
			font-size: 48px;
    		line-height: 57.6px;
    		text-align: center;
    		animation: none;
		}
		&__percent-info {
			font-size: 20px;
    		line-height: 24px;
    		text-align: center;
		}
	}
	.team {
		padding: 0;
		&__heading {
			margin: 0;
			width: 100%;
			display: flex;
			flex-direction: column;
		}
		&__head {
			font-size: 24px;
    		line-height: 24px;
    		padding: 0;
    		border-radius: 0;
    		width: 100%;
    		align-items: center;
    		justify-content: center;
    		height: 60px;
    		margin: 0 0 20px 0;
		}
		&__short-info {
			font-size: 24px;
    		line-height: 28px;
    		width: 100%;
    		margin: 0 0 22px 0;
    		padding: 0 0 0 5px;
		}
		&__span {
		}
		&__text {
			font-size: 20px;
    		line-height: 24px;
    		width: 100%;
    		padding: 0 0 0 5px;
		}
		&__button {
			font-size: 26px;
			width: 220px;
			height: 60px;
			margin: 0 auto 10px;
		}
		&__imgs {
			display: none;
		}
		&__img {
		}
	}
	.buy {
		padding: 50px 0;
		&__logo {
			width: 200px;
			height: 200px;
		}
		&__h2 {
			font-size: 40px;
		    line-height: 35.2px;
		    padding: 0 5px;
		}
		&__p {
			font-size: 24px;
		    line-height: 27px;
		    width: 100%;
		}
		&__buttons {
			flex-wrap: wrap;
			justify-content: center;
		}
		&__button {
		}
		&__button_first {
			width: 200px;
			height: 60px;
			font-size: 28px;
			margin: 0 0 5px 0;
		}
		&__button_second {
			width: 200px;
			height: 60px;
			font-size: 28px;
		}
	}
	.process {
		padding: 0;
		flex-wrap: wrap;
		&__heading {
			padding: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&__head {
			font-size: 24px;
    		line-height: 24px;
    		padding: 0;
    		border-radius: 0;
    		width: 100%;
    		align-items: center;
    		justify-content: center;
    		height: 60px;
    		margin: 0 0 20px 0;
		}
		&__short-info {
			font-size: 24px;
    		line-height: 28px;
    		margin: 0 0 20px 0;
    		padding: 0 0 0 5px;
		}
		&__button {
			width: 200px;
			height: 60px;
			font-size: 26px;
		}
		&__queue {
			margin: 40px 0 0 80px;
		}
		&__line {
			height: 300px;
    		width: 2px;
    		background: rgba(0, 0, 0, 0.15);
    		position: absolute;
    		z-index: 1;
    		left: -73px;
    		margin: 0 0 0 33px;
		}
		&__info-1 {
			width: 100%;
    		&::before {
    		  content: "";
    		  width: 62px;
    		  height: 63px;
    		  background: no-repeat center url("/shop-icon.svg") #FFC147;
    		  position: absolute;
    		  z-index: 2;
    		  top: -13px;
    		  left: -70px;
    		}
		}
		&__h3 {
			font-size: 24px;
    		line-height: 24px;
    		margin: 0 0 100px 0;
    		&:first-child {
    			margin: 7px 0 100px 0;
    		}
		}
		&__p {
			display: none;
		}
		&__info-2 {
			width: 100%;
    		&::before {
    		  content: "";
    		  width: 62px;
    		  height: 63px;
    		  background: no-repeat center url("/fonts-icon.svg") #FFC147;
    		  position: absolute;
    		  z-index: 2;
    		  top: 122px;
    		  left: -70px;
    		}
		}
		&__info-3 {
			width: 100%;
    		&::before {
    		  content: "";
    		  width: 62px;
    		  height: 63px;
    		  background: no-repeat center url("/publish-icon.svg") #FFC147;
    		  position: absolute;
    		  z-index: 2;
    		  top: 260px;
    		  left: -70px;
    		}
		}
	}
	.slider {
		&__arrow-left {
		}
		&__center {
		}
		&__info {
			width: 100%;
			padding: 50px 5px 0;
		}
		&__info-logo {
			width: 200px;
		}
		&__info-p {
			font-size: 32px;
    		line-height: 33.6px;
    		width: 100%;
		}
		&__info-ava {
			width: 120px;
		}
		&__info-nik {
			font-size: 20px;
    		line-height: 24px;
		}
		&__info-signature {
			font-size: 20px;
    		line-height: 24px;
		}
		&__status {
		}
		&__status-block {
		}
		&__status-block_included {
		}
		&__arrow-right {
		}
	}
	.contact {
		display: none;
		&__wrapper {
		}
		&__info {
		}
		&__h2 {
			font-size: 48px;
    		line-height: 35.2px;
		}
		&__p {
			font-size: 20px;
    		line-height: 24px;
		}
		&__form {
		}
		&__sing-up {
			line-height: 24px;
    		font-size: 20px;
    		height: 60px;
    		width: 300px;
		}
		&__button {
			width: 130px;
			height: 60px;
		}
		&__text {
			line-height: 18px;
    		font-size: 16px;
		}
		&__about {
			line-height: 18px;
    		font-size: 16px;
		}
	}
	.button_dark {
	}
	.blog {
		padding: 0 0 10px 0;
		&__head-wrapper {
			flex-wrap: wrap;
		}
		&__heading {
			margin: 0;
		}
		&__head {
			font-size: 24px;
    		line-height: 24px;
    		padding: 0;
    		border-radius: 0;
    		width: 100%;
    		align-items: center;
    		justify-content: center;
    		height: 60px;
    		margin: 0 0 20px 0;
		}
		&__short-info {
			font-size: 24px;
    		line-height: 28px;
    		margin: 0 0 20px 0;
    		padding: 0 0 0 5px;
		}
		&__span-blue {
		}
		&__text {
			font-size: 20px;
    		line-height: 27px;
    		display: none;	
		}
		&__button {
			font-size: 24px;
    		line-height: 24px;
    		width: 220px;
    		height: 60px;
    		margin: 10px auto 0;
		}
		&__any-blogs {
		}
		&__article {
		}
	}
	.article {
		width: 100%;
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		&__img {
			width: 300px;
			height: 200px;
		}
		&__h3 {
			font-size: 26px;
    		line-height: 33.6px;
		}
		&__p {
			font-size: 20px;
    		line-height: 24px;
    		padding: 0 0 0 5px;
		}
		&__user {
			width: 100%;
			justify-content: center;
		}
		&__ava {
			width: 60px;
			height: 60px;
		}
		&__user-info {
		}
		&__user-name {
			font-size: 18px;
    		line-height: 21px;
		}
		&__date {
			font-size: 16px;
    		line-height: 21px;
		}
		&__time-read {
			font-size: 16px;
    		line-height: 21px;
		}
	}
	.desig {
		padding: 20px 0;
		flex-wrap: wrap;
		justify-content: center;
		&__info {
			margin: 0;
			text-align: center;
			animation: none;
		}
		&__h2 {
			font-size: 60px;
    		line-height: 61.6px;
		}
		&__p {
			font-size: 24px;
    		line-height: 27px;
		}
		&__button {
			font-size: 32px;
			width: 250px;
			height: 80px;
		}
	}
	.footer {
		padding: 0;
		display: flex;
		flex-direction: column;
		&__line-first {
			display: flex;
			flex-direction: column;
		}
		&__logo {
			margin: 20px 0;
		}
		&__nav {
			display: none;
		}
		&__nav-point {
			font-size: 24px;
    		line-height: 24px;
		}
		&__nav-point_fix {
		}
		&__contacts {
		}
		&__contact {
		}
		&__contact-img {
			height: 24px;
			width: 24px;
		}
		&__line-second {
			display: flex;
		}
		&__webflow {
			font-size: 20px;
    		line-height: 21px;
    		text-align: center;
    		padding: 0 0 10px 0;
    		left: 0;
		}
		&__webflow-link {
			width: 100%;
		}
		&__policy {
		}
		&__point-policy {
			padding: 0;
			display: none;
		}
	}
	.none {
		display: none;
	}
}